{% extends 'base.html' %}

{% block title %} Ebury test - Trade detail: {{ trade.pk }} {% endblock %}

{% block section %}

    <h1>Trade detail: {{ trade.pk }}</h1>
        <div class="row">
            <div class="col-md-4">
                <p>Sell CCY</p>
                <p>{{ trade.sell_currency }}</p>
            </div>
            <div class="col-md-4">
                <p>Rate</p>
                <p id="rate">{{ trade.rate }}</p>
            </div>
            <div class="col-md-4">
                <p>Buy CCY</p>
                <p>{{ trade.buy_currency }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>Sell Amount</p>
                <input id="sell_amount" type="number" value="{{ trade.sell_amount }}"/>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p>Buy Amount</p>
                <p id="buy_amount">{{ trade.buy_amount }}</p>
            </div>
        </div>

{% endblock %}
