{% extends 'base.html' %}

{% block section %}

    <h1>Booked trades</h1>

    <div style="float: right; padding: 10px"><a class="btn btn-primary" href="{% url 'new_trade' %}" role="button">New trade</a></div>

    {% if trades_list|length > 0 %}
        <h2>Last trades:</h2>
        <table class="table table-striped">
            <tr style="font-weight: bold">
                <td>Sell CCY</td>
                <td>Sell Amount</td>
                <td>Buy CCY</td>
                <td>Buy Amount</td>
                <td>Rate</td>
                <td>Date Booked</td>
                <td>Actions</td>
            </tr>
            {% for trade in trades_list %}
                <tr>
                    <td>{{ trade.sell_currency }}</td>
                    <td>{{ trade.sell_amount }}</td>
                    <td>{{ trade.buy_currency }}</td>
                    <td>{{ trade.buy_amount }}</td>
                    <td>{{ trade.rate }}</td>
                    <td>{{ trade.date_booked|date:"d/m/Y" }} {{ trade.date_booked|time:"H:i" }}</td>
                    <td>
                        <a href="{% url 'trade_detail' trade.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        -
                        <a href="{% url 'delete_trade' trade.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if trades_list.has_previous %}
                    <a class="btn btn-default" href="?page=1">First</a>
                    <a class="btn btn-default" href="?page={{ trades_list.previous_page_number }}">Prev</a>
                {% else %}
                    <a class="btn btn-default disabled" href="#">First</a>
                    <a class="btn btn-default disabled" href="#">Prev</a>
                {% endif %}

                <span class="current">
                    {% for page in trades_list.paginator.page_range %}
                        <a class="btn btn-default {% if page == trades_list.number %} active {% endif %}" href="?page={{ page }}" >{{ page }}</a>
                    {% endfor %}
                    <!-- Page {{ trades_list.number }} of {{ trades_list.paginator.num_pages }} -->
                </span>

                {% if trades_list.has_next %}
                    <a class="btn btn-default" href="?page={{ trades_list.next_page_number }}">Next</a>
                    <a class="btn btn-default" href="?page={{ trades_list.paginator.num_pages }}">Last</a>
                {% else %}
                    <a class="btn btn-default disabled" href="#">Next</a>
                    <a class="btn btn-default disabled" href="#">Last</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        There's no trades.
    {% endif %}

{% endblock %}
