{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Ebury test - Ignacio Lasaosa Sáez {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="{% url 'trades_home' %}">Home</a>
    </nav>
    <hr>
    <section>
        {% block section %} {% endblock %}
    </section>
    <hr>
    <footer><small>Ebury 2016 &copy;</small></footer>
</body>
</html>